body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #240750,#344C64,#577B8D);
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  }
  
  .App {
    /* text-align: center; */
    padding: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #191919;
    margin-bottom: 20px;
  }
  
  .temperature-chart, .notepad {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 18px;
    margin: 20px auto;
    max-width: 96%;
  }
  
  .temperature-chart canvas {
    width: 100% !important;
    height: auto !important;
    background-color: #333;
  }
  
  .note-item {
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notepad-container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 96%;
    margin: 20px auto;
  }
  
  .note-item:last-child {
    border-bottom: none;
  }

  .temperature-chart h3 {
    text-align: center;
    margin: 20px 0;
  }
  
  .note-item button {
    background: none;
    border: none;
    cursor: pointer;
    color: #d11a2a;
  }
  
  .note-item button:hover {
    color: #a00;
  }
  
  .notepad input {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .notepad button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .notepad button:hover {
    background-color: #0056b3;
  }
  
  .search-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .search-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
  }
  
  .search-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #218838;
  }
  
  .notepad-wrapper {
    position: fixed;
    right: -400px;
    top: 0;
    height: 100%;
    width: 400px;
    transition: right 0.5s ease-in-out;
    z-index: 999; 
  }
  
  .notepad-wrapper.visible {
    right: 0;
  }
  
  .notepad-container {
    height: 100%;
    overflow-y: auto;
  }
  
  .notepad-container h1 {
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
